<div class="loanOutputUI">
    <h1>Monthly Payments</h1>
    <div class="container">
        <section>
            <p>Amount
            <span>$ {{loan.amount}}</span>
            </p>
        </section>
        <section>
            <p>Rate
            <span>{{loan.rate}} %</span>
            </p>
        </section>
        <section>
            <p>Years
           <span> {{loan.length}}</span>
           </p>
        </section>
        <section>
           <p>Monthly payments
           <span> $ {{loan.monthlyPayment | number:'1.0-0'}}</span>
           </p>
        </section>
    </div>
</div>