.loanOutputUI{
    background-color: #fff;
    height: 300px;
    width: 750px;
    margin: 3rem auto;
}

.container{
    display: flex;
    width: 750px;
}
.container::before{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 90%;
}

p{
    height: 100px;
    position: relative;
    top:50%;
    margin-top: -50px;
    font-weight: 1200;
}

section{
    flex-basis: 25%;
    text-align: center;
    height: 200px;

    
}
h1{
    position: relative;
    left: 25px;
    padding: 5px;
}

span{
    font-size: 1.1rem;
    margin-top: 2rem;
    display: block;
}