<div class="loanOutputUI">
    <h1>Monthly Payments</h1>
    <div class="container">
        <section>
            <p>Amount
            <span>$ {{loanAmount}}</span>
            </p>
        </section>
        <section>
            <p>Rate
            <span>{{interestRate}} %</span>
            </p>
        </section>
        <section>
            <p>Years
           <span> {{years}}</span>
           </p>
        </section>
        <section>
           <p>Monthly payments
           <span>$ {{ monthlyPayments}}</span>
           </p>
        </section>
    </div>
</div>