<div class="loanInputUI">
    <h1>Simple Loan Calc</h1>
    <div class="loan">
       <div class="left">
            <div class="circleWithNum">1</div>
            <span>Loan Amount</span>
       </div> 
       <div class="right">
            <input type="number" id="loanAmount">
       </div>
       
    </div>
    <div class="loan">
            <div class="left">
                    <div class="circleWithNum">2</div>
                    <span>Interest rate</span>
                    
               </div> 
               <div class="right">
                    <input type="number" id="loanPercent">
                 
               </div>
    </div>
    <div class="loan">
            <div class="left">
                    <div class="circleWithNum">3</div>
                    <span>Number of Years</span>
               </div> 
               <div class="right">
                    <input type="number" id="years">
               </div>
    </div>

    <button (click) = "getSimpleInterest()" class="calculate">Calculate</button>
</div>